body {
    font-family: Karla;
    
  }
  
  .content {
    max-width: 1280px;
    overflow-x: hidden;
    margin: 0 auto;
  }
  .card{
      width: 200px;
      height: 200px;
      padding: 10px;
      margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .card-header{
      width: 100%;
      height: 100%;
  }
  .card-image{
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  li{
      list-style-type: none;
  }
  .card-btn{
      display: inline-block;
    width: 100%;
    padding: 10px 0;
    background-color: blue;
    cursor: pointer;
  }
  .controls{
      width: 100%;
     
      position: absolute;
      top: 28%;
      display: flex;
      justify-content: space-between;
  }
  .right{
      margin-right: 40px;
  }
  
  